# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
PATH = "driver/chromedriver.exe"
driver = webdriver.Chrome()

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
#opciones=Options()

#opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#opciones.add_experimental_option('useAutomationExtension', False)
#opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
#opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
#opciones.add_argument('--incognito')

In [3]:
#driver = "./chromedriver.exe" #remember substitute this for your driver path
#driver = webdriver.Chrome(driver,options = opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [5]:
#your code
PATH = "driver/chromedriver.exe"
driver = webdriver.Chrome()

driver.get(url)

In [6]:
driver.find_elements(By.CSS_SELECTOR,'div.d-sm-flex.flex-auto > div.col-sm-8.d-md-flex > div:nth-child(1)')[0].text.replace('\n' ,' = ')

'lllyasviel'

In [7]:
trending=[e.text.replace('\n' ,' = ') for e in driver.find_elements
          (By.CSS_SELECTOR,'div.d-sm-flex.flex-auto > div.col-sm-8.d-md-flex > div:nth-child(1)')]
trending

['lllyasviel',
 'Brad Fitzpatrick = bradfitz',
 'Chris Banes = chrisbanes',
 'Xiaoyu Zhang = BBuf',
 'yihong = yihong0618',
 'Brian Smith = briansmith',
 'Yudong Jin = krahets',
 'Stella Laurenzo = stellaraccident',
 'Pedro Cattori = pcattori',
 'Patrick von Platen = patrickvonplaten',
 'Andrew Lock = andrewlock',
 'Chi-Hsuan Huang = chihsuan',
 'Vaibhav Srivastav = Vaibhavs10',
 '小弟调调 = jaywcjlove',
 "John O'Reilly = joreilly",
 'Saúl Ibarra Corretgé = saghul',
 'Jon Skeet = jskeet',
 'Erik Schierboom = ErikSchierboom',
 'Younes Belkada = younesbelkada',
 'Howard Wu = howardwu',
 'Vinta Chen = vinta',
 'James Tucker = raggi',
 'Zoltan Kochan = zkochan',
 'George Hotz = geohot',
 'Stan Girard = StanGirard']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [9]:
#your code:
driver.get(url)

In [10]:
driver.find_element(By.XPATH,'//h2//a').text

'dataelement / bisheng'

In [11]:
repos= [e.text for e in driver.find_elements(By.XPATH,'//h2//a') ]

#### Display all the image links from Walt Disney wikipedia page

In [12]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [13]:
#your code:
driver.get(url)

In [14]:
driver.find_elements(By.XPATH,'//img')[0].get_attribute('src')

'https://en.wikipedia.org/static/images/icons/wikipedia.png'

In [15]:
links=[driver.find_elements(By.XPATH,'//img')[e].get_attribute('src') for e in range(len(driver.find_elements(By.XPATH,'//img'))) ]

links[:3]

['https://en.wikipedia.org/static/images/icons/wikipedia.png',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-en.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [16]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [17]:
#your code:
driver.get(url)

In [18]:
a=driver.find_elements(By.XPATH,'//a')[0].get_attribute('href')
a

'https://en.wikipedia.org/wiki/Python#bodyContent'

In [19]:
links=[driver.find_elements(By.XPATH,'//a')[i].get_attribute('href') for i in range (len(driver.find_elements(By.XPATH,'//a')))]
links[:3]

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Wikipedia:Contents']

#### Number of Titles that have changed in the United States Code since its last release point

In [20]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [21]:
#your code
driver.get(url)

In [22]:
driver.find_element(By.XPATH, '//div//div[@class="usctitlechanged"]').text

'Title 20 - Education'

In [23]:
tittle=driver.find_elements(By.XPATH, '//div//div[@class="usctitlechanged"]')

changed_tittle=[e.text for e in tittle]
changed_tittle

['Title 20 - Education', "Title 38 - Veterans' Benefits ٭"]

#### A Python list with the top ten FBI's Most Wanted names

In [24]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [25]:
#your code:
driver.get(url)

In [26]:
driver.find_element(By.XPATH,'//h3//a').text

'ALEXIS FLORES'

In [27]:
nombres=driver.find_elements(By.XPATH,'//h3//a')
lista_nombres=[e.text for e in nombres]
lista_nombres[:3]

['ALEXIS FLORES', 'ARNOLDO JIMENEZ', 'OMAR ALEXANDER CARDENAS']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [36]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [37]:
#your code:
driver.get(url)

In [84]:
columnas = [e.text.replace('\n', ' ') for e in driver.find_element(By.CSS_SELECTOR, 'table.eqs.table-scroll').find_element(By.CSS_SELECTOR, 'thead').find_elements(By.CSS_SELECTOR, 'th')][1:]

columnas

['Citizen response',
 'Date & Time UTC',
 'Lat. degrees',
 'Lon. degrees',
 'Depth km',
 'Mag.[+]',
 'Region']

In [74]:
filas = driver.find_element(By.CLASS_NAME, 'eqs.table-scroll').find_element(By.TAG_NAME, 'tbody').find_elements(By.TAG_NAME, 'tr')

100

In [42]:
data = []
for fila in filas:
    cols = fila.find_elements(By.TAG_NAME ,"td")
    relleno = []
    for col in cols:
        relleno.append(col.text)


    data.append(relleno)

In [91]:
df=pd.DataFrame(data)
df = df.iloc[:, 3:]

In [92]:
df

,3,4,5,6,7,8,9
0,2023-11-02 18:36:30\n6 min ago,36.894,-121.617,0,,2.3,CENTRAL CALIFORNIA
1,2023-11-02 18:31:37\n11 min ago,38.810,-122.802,3,,2.2,NORTHERN CALIFORNIA
2,2023-11-02 18:16:10\n26 min ago,45.926,2.846,5,,2.3,FRANCE
3,2023-11-02 18:10:47\n31 min ago,37.845,36.347,5,,2.9,CENTRAL TURKEY
4,2023-11-02 18:07:03\n35 min ago,38.170,21.670,10,,2.3,GREECE
...,...,...,...,...,...,...,...
95,2023-11-02 08:27:10\n10 hr 15 min ago,40.500,24.310,5,,2.2,AEGEAN SEA
96,2023-11-02 08:24:52\n10 hr 17 min ago,17.170,-94.580,126,,3.4,"OAXACA, MEXICO"
97,2023-11-02 08:19:59\n10 hr 22 min ago,-30.790,-71.590,26,,3.8,"COQUIMBO, CHILE"
98,2023-11-02 08:17:40\n10 hr 24 min ago,38.306,37.793,5,,2.8,CENTRAL TURKEY
99,2023-11-02 08:16:02\n10 hr 26 min ago,37.015,30.567,81,,2.2,WESTERN TURKEY

In [96]:
df.columns=columnas
df.head()

,Citizen response,Date & Time UTC,Lat. degrees,Lon. degrees,Depth km,Mag.[+],Region
0,2023-11-02 18:36:30\n6 min ago,36.894,-121.617,0,,2.3,CENTRAL CALIFORNIA
1,2023-11-02 18:31:37\n11 min ago,38.810,-122.802,3,,2.2,NORTHERN CALIFORNIA
2,2023-11-02 18:16:10\n26 min ago,45.926,2.846,5,,2.3,FRANCE
3,2023-11-02 18:10:47\n31 min ago,37.845,36.347,5,,2.9,CENTRAL TURKEY
4,2023-11-02 18:07:03\n35 min ago,38.170,21.670,10,,2.3,GREECE

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [94]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'
driver.get(url)

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code:

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [97]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
driver.get(url)

In [98]:
#your code:
todo=driver.find_elements(By.CSS_SELECTOR, 'div.central-featured')[0].text.split('\n')

In [99]:
language={}
for i in range(0, len(todo), 2):
    clave = todo[i]
    valor = todo[i + 1]
    language[clave] = valor

language

{'Español': '1 892 000+ artículos',
 'English': '6 715 000+ articles',
 '日本語': '1 387 000+ 記事',
 'Русский': '1 938 000+ статей',
 'Deutsch': '2 836 000+ Artikel',
 'Français': '2 553 000+ articles',
 'Italiano': '1 826 000+ voci',
 '中文': '1 377 000+ 条目 / 條目',
 'Português': '1 109 000+ artigos',
 'العربية': '1 217 000+ مقالة'}

#### A list with the different kind of datasets available in data.gov.uk

In [100]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
driver.get(url)

In [101]:
#your code :

data=driver.find_elements(By.CSS_SELECTOR,'div:nth-child(3) > div > ul>li')[0].find_elements(By.CSS_SELECTOR,'h3')

In [102]:
lst=[]

for e in range(len(driver.find_elements(By.CSS_SELECTOR,'div:nth-child(3) > div > ul>li'))):
    dato=driver.find_elements(By.CSS_SELECTOR,'div:nth-child(3) > div > ul>li')[e].find_elements(By.CSS_SELECTOR,'h3')[0].text
    lst.append(dato)

lst

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [103]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [104]:
#your code:
driver.find_elements(By.CSS_SELECTOR,'div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter')[0].text

'Languages with at least 50 million first-language speakers[7]\nLanguage Native speakers\n(millions) Language family Branch\nMandarin Chinese\n(incl. Standard Chinese, but excl. other varieties) 939 Sino-Tibetan Sinitic\nSpanish 485 Indo-European Romance\nEnglish 380 Indo-European Germanic\nHindi\n(excl. Urdu, and other languages) 345 Indo-European Indo-Aryan\nPortuguese 236 Indo-European Romance\nBengali 234 Indo-European Indo-Aryan\nRussian 147 Indo-European Balto-Slavic\nJapanese 123 Japonic Japanese\nYue Chinese\n(incl. Cantonese) 86.1 Sino-Tibetan Sinitic\nVietnamese 85.0 Austroasiatic Vietic\nTurkish 84.0 Turkic Oghuz\nWu Chinese\n(incl. Shanghainese) 83.4 Sino-Tibetan Sinitic\nMarathi 83.2 Indo-European Indo-Aryan\nTelugu 83.0 Dravidian South-Central\nKorean 81.7 Koreanic —\nFrench 80.8 Indo-European Romance\nTamil 78.6 Dravidian South\nEgyptian Spoken Arabic\n(excl. Saʽidi Arabic) 77.4 Afroasiatic Semitic\nStandard German 75.3 Indo-European Germanic\nUrdu\n(excl. Hindi) 70.6 Indo-European Indo-Aryan\nJavanese 68.3 Austronesian Malayo-Polynesian\nWestern Punjabi\n(excl. Eastern Punjabi) 66.7 Indo-European Indo-Aryan\nItalian 64.6 Indo-European Romance\nGujarati 57.1 Indo-European Indo-Aryan\nIranian Persian\n(excl. Dari and Tajik) 57.2 Indo-European Iranian\nBhojpuri 52.3 Indo-European Indo-Aryan\nHausa 51.7 Afroasiatic Chadic'

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code